html {
	background-color: #049af8;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
}

.main_container {
	background-color: white;
	padding-bottom: 25px;
}

#profile_area {
	height: 805px;
}

.navbar {
	width: 100%;
	height: 100%;
	background-color: #049af8;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 10px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	margin-right: 10px;
}

.white_btn:hover {
	background-color: #e2e2e2;
	transition: background-color 0.5s ease;
}

#red_hover:hover {
	background-color: #f52525;
	color: white;
}


.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

#section_text {
	text-decoration: underline;
	margin-left: 100px;
}

#add_user {
	display: flex;
}

#add_user button {
	height: 40px;
	margin-top: 25px;
}

.row {
	padding-left: 100px;
	display: flex;
	gap: 50px 100px;
}

.column {
	flex: 50%;
}

.green_btn {
	display:block;
	border: none;
	outline: none;
	padding: 12px 0;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	background-color: #049af8;
	color: white;
	margin: 10px;
}

.red_btn {
	display:block;
	border: none;
	outline: none;
	padding: 12px 0;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	background-color: #f34646;
	color: white;
	margin: 10px;
}

.red_btn:hover {
	background-color: #a82626;
	transition: background-color 0.5s ease;
}

.red_btn:active {
	background-color: #f52525;
	transition: background-color 0.5s ease;
}

.green_btn:hover {
	background-color: #157dbd;
	transition: background-color 0.5s ease;
}

.green_btn:active {
	background-color: #049af8;
	transition: background-color 0.5s ease;
}

footer h1 {
	color: white;
	float: left;
	width: 100%;
	font-size: 16px;
	text-align: center;
	background-color: #049af8;
}

#current_users {
	margin-left: 100px;
	margin-right: 100px;
}

table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.message {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #464646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

table td, table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

#logo {
	width: 125px;
	margin-left: 25px;
	padding: 10px 0;
}

#below {
	margin-top: 190px;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #049af8;
	color: white;
}

#header {
	text-align: center;
	background-color: #d34141;
	color: white;
}