html {
	background-color: #049af8;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
}

.navbar {
	width: 100%;
	height: 100%;
	background-color: #049af8;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 10px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	margin-right: 10px;
}

.white_btn:hover {
	background-color: #e2e2e2;
	transition: background-color 0.5s ease;
}

.teal_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: #049af8;
	color: white;
	border-radius: 8px;
	width: 120px;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	margin-right: 10px;
}

#red_hover:hover {
	background-color: #f52525;
	color: white;
}


.intro_section {
	float: left;
	width: 100%;
	height: 750px;
	background:linear-gradient(0deg, rgba(0, 178, 255, 0.3), rgba(36, 76, 176, 0.3)), url(retire.webp);
	background-size:cover;
	min-height:100%;
	max-height: 750px;
}

#intro_textbox {
	margin-top: 225px;
	margin-left: 100px;
	width: 50%;
	padding: 10px 25px 10px 25px;
	border-radius: 12px;
	background-color: white;
	font-size: 21px;
}

.about_us {
	background-color: white;
	float: left;
	width: 50%;
	min-height: 301px;
}

.about_us h1 {
	color: #049af8;
	padding-left: 25px;
}

.about_us h2 {
	color: #3b60b1;
	padding-left: 25px;
}

.about_us p {
	padding-left: 25px;
}

.about_us_row:after {
	content: "";
	display: table;
	clear: both;
}

#logo {
	width: 125px;
	margin-left: 25px;
	padding: 10px 0;
}

footer h1 {
	color: white;
	float: left;
	width: 100%;
	font-size: 16px;
	text-align: center;
	background-color: #049af8;
}